/*body
{
	margin: 0;
	padding: 0;
	*//*color: #555;*//*
	color: #424242;
	font:  10pt 'Microsoft YaHei',Tahoma, Helvetica, Arial, sans-serif; color:#424242; background:#fff;
	background: #EFEFEF;
}*/
body {color:#555;font:10pt Arial,Helvetica,sans-serif;background:#F6F9FD;}
a {color:#015BAB;text-decoration:none;}
a:hover {color:#f00;text-decoration:underline;}
h1, h2, h3, h4 {font-weight:bolder;}
h1 {font-size:1.6em;margin:0.5em 0;}
h2 {font-size:1.25em;margin:0.3em 0;}
h3 {font-size:1.1em;margin:0.2em 0;}
h4 {font-size:1.0em;margin:0.2em 0;}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	/*border: 1px solid #C9E0ED;*/
}

#header
{
	margin: 0;
	padding: 0;
	/*border-top: 3px solid #C9E0ED;*/
}

#content
{
    padding: 20px;
    overflow: hidden;
}
#mainnav
{
	
	padding-bottom: 5px;
	/**margin-bottom: 10px;**/
	border-bottom: 1px dashed #CCC;
	color: #999;
}
#mainnav span
{
	line-height: 20px;
	height:20px;
	margin-right: 10px;
}
#maincontent
{
	overflow: hidden;
	padding:10px 0 0 0;
	line-height:20px;
}
#maintag
{
	margin:15px 0 20px 0;
	color:#999;
}

#mainbody
{
	margin:10px 0 20px 0;
	border-bottom: 1px dashed gainsboro;
}
.readall
{
	margin-right:20px;
	float: right;
}
#content h1 {
	height: 32px;
	line-height: 32px;
	font-size: 16px;
}
#comments
{
	margin-top: 30px;
}
#comments .titles
{
	font-size: 12px;
	font-weight: bold;
	color: #298DCD;
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}
#sidebar
{
	padding: 10px 10px 10px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
    border-top: #14599A solid 3px;
    background: #2C70AD;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

/*
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}
*/

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #14599A;
    background: #F6F9FD;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}
.comment {
	-moz-border-radius: 7px;
	padding: 10px;
	background: whiteSmoke;
	margin: 5px 0;
}
.comment a.cid {
	color: #CCC;
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0 5px 5px 5px;
	text-decoration: none;
}
.comment .author {
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}
.comment .time {
	color: #888;
	font-size: 0.8em;
}
.comment .content {
	margin: 10px 0;
}
.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 18px;
	overflow:hidden;
	line-height: 20px;
	height:20px;
	background: url(../images/icon.gif) no-repeat 0 4px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}